<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>PreviewFonts/SF-CompactRounded.ttf</string>
		<string>PreviewFonts/SF-Compact.ttf</string>
		<string>PreviewFonts/Chococooky.ttf</string>
		<string>PreviewFonts/Comic Sans MS.ttf</string>
		<string>PreviewFonts/DejaVuSansCondensed.ttf</string>
		<string>PreviewFonts/DejaVuSansMono.ttf</string>
		<string>PreviewFonts/DejaVuSerif.ttf</string>
		<string>PreviewFonts/FiraSans-Regular.ttf</string>
		<string>PreviewFonts/Go-Mono.ttf</string>
		<string>PreviewFonts/Go-Regular.ttf</string>
		<string>PreviewFonts/segoeui.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
